@font-face {
	font-family: 'Roboto';
	src: url('./Roboto-Regular.eot');
	src: local('☺'), url('./Roboto-Regular.woff') format('woff'), url('./Roboto-Regular.ttf') format('truetype'), url('./Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('./Roboto-Bold.eot');
	src: local('☺'), url('./Roboto-Bold.woff') format('woff'), url('./Roboto-Bold.ttf') format('truetype'), url('./Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
